name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Bazel
        uses: abhinavsingh/setup-bazel@v3
        with:
          version: 8.4.1
      #- name: Setup bazel
        #uses: bazel-contrib/setup-bazel@0.15.0
        #with:
          #bazelisk-cache: true
          #disk-cache: ${{ github.workflow }}
          #repository-cache: true
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: "bazel build //..."
      - name: Test
        run: "bazel test //..."
      - name: "Integration test"
        run: "cd integration && bazel build //..."

